# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env
*.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Build / Distribution
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Splunk app package outputs (if you package your code into Splunk app)
*.spl
*.tar.gz
